/* Default theme colors */
:root {
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(207, 193, 179);
    --bacground-color: rgb(74, 63, 76);
    --img-url: '../images/space.png';
}