/* Default theme colors */
:root {
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(207, 193, 179);
    --background-color: rgb(74, 63, 76);
    --img-url: '../images/space.png';
    --border-color: rgba(255, 255, 255, 0.8);
    --panel__small-block: rgba(89, 76, 74, 0.5);
    --panel__main-block: rgba(161, 136, 123, 0.5);
}